/DragonChess/Debug/DragonChess.tlog
/DragonChess/x64/Debug/DragonChess.tlog
/DragonChess/DragonChess.aps
/.vs/DragonChess/v16/*.db
/.vs/DragonChess/v16/*.db-shm
/.vs/DragonChess/v16/*.db-wal
/DragonChess/Debug/*.enc
/DragonChess/DragonChess.vcxproj.filters
/.vs/DragonChess/v16/ipch/AutoPCH/1ab7741f622bbd69/*.ipch
*.ipch
*.obj
/Debug/*.pdb
*.pdb
*.opendb
*.log
*.idb
*.ilk
*.recipe
